In [1]:
import pymysql.cursors

In [2]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             passwd='yama2376',
                             db='scraping',
                             cursorclass=pymysql.cursors.DictCursor)

In [3]:
c = connection.cursor()

In [4]:
c.execute('DROP TABLE IF EXISTS `cities`')

0

In [6]:
c.execute("""
    CREATE TABLE `cities` (
            `rank` integer,
            `city` text,
            `population` integer)
    """)

0

In [8]:
c.execute('INSERT INTO `cities` VALUES (%(rank)s, %(city)s, %(population)s)',
        {'rank': 2, 'city': 'KARACHI', 'population':235000})

1